{
	"presets": [
		"babel-preset-niksy/next",
		["babel-preset-niksy", {
			"@babel/preset-env": {
				"loose": true
			}
		}]
	],
	"plugins": [
		"@babel/plugin-transform-object-assign",
		"transform-es2017-object-entries"
	]
}
