{{> top title="Basic"}}

	<button type="button" class="resize" data-dimensions="800,600">800x600</button>
	<button type="button" class="resize" data-dimensions="600,600">600x600</button>
	<button type="button" class="resize" data-dimensions="320,480">320x480</button>
	<button type="button" class="resize" data-dimensions="1000,800">1000x800</button>
	<button type="button" class="resize" data-dimensions="1200,800">1200x800</button>
	<button type="button" class="resize" data-dimensions="1500,900">1500x900</button>

	<div class="Banner" data-ad-id="billboard"></div>
	<div class="Banner" data-ad-id="skyscraper"></div>
	<div class="Banner" data-ad-id="floating"></div>
	<div class="Banner" data-ad-id="wallpaper-right"></div>
	<div class="Banner" data-ad-id="wallpaper-left"></div>
	<div class="Banner" data-ad-id="mobile"></div>

	<script>

		$('.resize').on('click', function () {
			var data = $(this).data('dimensions').split(',');
			window.resizeTo(data[0], data[1]);
		});

		var lazyads = new $.kist.lazyads({
			el: '[data-ad-id]',
			context: {
				"screen and (min-width:1000px) and (max-width:1199px)": ["billboard","skyscraper","floating"],
				"screen and (min-width:1500px)": ["billboard","skyscraper","floating","wallpaper-right","wallpaper-left"],
				"screen and (min-width:915px) and (max-width:999px)": ["billboard","skyscraper","floating","floating"],
				"screen and (min-width:1200px) and (max-width:1499px)": ["billboard","skyscraper","floating","wallpaper-right","wallpaper-left"],
				"screen and (min-width:728px) and (max-width:914px)": ["billboard","floating"],
				"screen and (max-width:599px)": ["mobile"]
			},
			content: {
				"floating": "floating",
				"wallpaper-left": "wallpaper-left",
				"wallpaper-right": "wallpaper-right",
				"billboard": "billboard",
				"mobile": "mobile",
				"skyscraper": "skyscraper"
			},
			init: function () {
				console.log('Lazyads initialized!');
				console.log(this);
			}
		});

		lazyads
			.control({
				name: 'billboard',
				condition: function ( el ) {
					return el.data('ad-id') === 'billboard';
				},
				callback: function ( el, emit ) {
					if ( el.hasClass('is-loaded') ) {
						if ( el.hasClass('is-hidden') ) {
							console.log(1);
							emit('foo');
						}
					}
				}
			})
			.control({
				name: 'mobile',
				condition: function ( el ) {
					return el.data('ad-id') === 'mobile';
				},
				callback: function ( el, emit, wait ) {
					console.log(2);
				}
			});

		$('[data-ad-id="billboard"]').on('foo:billboard', function ( e, el ) {
			console.log(arguments);
		});

		$(document).on('foo:billboard', function ( e, el ) {
			console.log(e.currentTarget);
			console.log(e.target);
		});

	</script>

{{> bottom}}
